In [2]:
# import dependences
import pandas as pd

In [3]:
# Read the csv file 
csv_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Find unique players to calculate the total number of players
unique_names = purchase_data["SN"].unique()
unique_names
# Find total number of players
total = len(unique_names)

# Create a data frame to display total number of players
total_players = pd.DataFrame({"Total Players": [total]})
total_players

   Total Players
0            576

In [5]:
# Find number of unique items
unique_items  = purchase_data["Item ID"].unique()
unique = len(unique_items)

# Find average price
avg_price = purchase_data["Price"].mean()

# Find number of purchases
num_purchases = purchase_data["Item Name"].count()

# Find total revenue
revenue = purchase_data["Price"].sum()

# Create a summary table to display results
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique],
                                   "Average Price": avg_price,
                                   "Number of Purchases": num_purchases,
                                    "Total Revenue": revenue})

# Format the table for average price and revenue values
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [6]:
# Group purchase data by gender to find count of each gender
gender_df = purchase_data.groupby(["Gender"])

# Find number of unique names grouped by gender
gender_count = gender_df["SN"].nunique()

# Find percentages for each gender
percentage = gender_count / total *100

# Create a new data frame to display results
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players": percentage})
# Reset index value to none
gender_summary = gender_demographics.rename_axis([""])

# Format percentage values
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)
gender_summary

                       Total Count Percentage of Players

Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [23]:
# Find purchase count for each gender
purchase_count = gender_df["Purchase ID"].count()

# Find average count by each group
avg_purchase = gender_df["Price"].mean()

# Find total purchase value for each gender
total_purchase = gender_df["Price"].sum()

# Find average purchase total per person by gender; by dividing each genders total purchases to unique gender count
avg_purchase_total = total_purchase / gender_count
avg_purchase_total

# Create a data frame to display results from the calculations
purchasing_df = pd.DataFrame({"Purchase Counts": purchase_count,
                             "Average Purchase Price": avg_purchase,
                             "Total Purchase Value": total_purchase,
                             "Average Total Purchase per Person": avg_purchase_total})

# Format average purchase price, total purchase values and average total purchase values
purchasing_df["Average Purchase Price"]= purchasing_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_df["Average Total Purchase per Person"]= purchasing_df["Average Total Purchase per Person"].map("${:.2f}".format)
purchasing_df["Total Purchase Value"]= purchasing_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_df

,Purchase Counts,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56